@font-face {font-family: "iconfont";
  /*src: url('iconfont.eot?t=1608291720078'); /* IE9 */
  src: url('iconfont.woff?t=1608291720078') format('woff')
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e645";
}

