// 主颜色
$primaryColor: #01aafc;

// 主背景灰色
$mainBackGray: #fafafa;

// 标准线条色
$mainLineGray: #ebeced;

:export {
  primaryColor: $primaryColor;
  mainBackGray: $mainBackGray;
  mainLineGray: $mainLineGray;
}
